body{
    background-image: url('https://i.pinimg.com/originals/1b/d7/7c/1bd77c8c3743b9338247918f3a574e2f.gif');
    background-size: cover;
    height: 100vh;
  }
  .container {
    margin-top: 10%;
  }
  
  .card {
    box-shadow: 0px 0px 15px rgba(93, 128, 86, 0.1);
  }
  
  .card-body {
    background-color: beige;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-body:hover {
    transform: scale(1.02);
  }
  
  .card-title {
    color: #000000;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  
  .form-group {
    padding: 10px;
    text-align: center;
  }
  
  .email{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .password{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    border-radius: 5px;
    padding: 10px;
  }
  
  .dont{
    margin-top: 10px;
    font-weight: bold;
  }
  
  .btn{
    width: 100px;
    height: auto;
  }
   
  
  
  